{% extends basehtml %}
{% load static %}
{% load thumbnail %}

{% block title %}Expositores{% endblock %}

{% block content %}
<div class="container internal">

<h1>{{ title }}</h1>
<div class="col-md-offset-1">
{% for object in object_list %}
    {% if object.topic %}
    {% ifchanged %}<div class="col-md-9 title-section clearfix">
        <h2>{{ object.topic }}</h2>
    </div>{% endifchanged %}
    {% endif %}
    <div class='clearfix'></div>
    <div class="col-md-2">
            {% if object.photo %}
                <img src="{% thumbnail object.photo 250x0 upscale %}" class="author img-responsive"/>
            {% endif %}
    </div>
    <div class="col-md-7 clearfix">
        <h3 class="margin0">{{ object.name }}</h3>
        {{ object.text|linebreaks|safe }}
    </div>
    <div class='clearfix'></div>
    <div class="col-md-9"><hr class="separador"/></div>
{% empty %}
    <h2>No hay datos.</h2>
{% endfor %}
</div>

</div>
{% endblock content %}
