{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block content %}
<div class="container internal">
	<div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" id="gallery">
        <h1 class="page-header">{{ gallery.title }}</h1>
        <p class="muted"><small>{% trans "Published" %} {{ gallery.date_added }}</small></p>        
        {% if gallery.description %}{{ gallery.description|safe }}{% endif %}
        <div class="gallery-list">
	    {% for photo in gallery.public %}
	        <a href="{% url 'app:photo' eventslug=event.slug slug=photo.slug %}">
	             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
	        </a>
	    {% endfor %}
        </div>
        <!--
        <div><a href="{% url 'photologue:gallery-list' %}" class="btn btn-primary">{% trans "View all galleries" %}</a></div>
        -->
	</div>
</div>
{% endblock %}
